body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(600px, 4fr);
    grid-template-rows: minmax(100px, 1fr) minmax(500px, 5fr);
}

.sidebar {
    grid-row: 1 / -1;
    background-color: #06b6d4;
    display: grid;
    grid: 100px 1fr 1fr / 1fr 3fr;  /*Shorthand gird-rows / grid-columns*/
}

.item {
    background-color: orange;
    border: 1px solid black;
    text-align: center;
}