body {
    padding: 0;
    margin: 0;
    height: 100%;
}

img {
    min-height: 25px;
    min-width: 25px;
    max-width: 50px;
    max-height: 50px;
}

button {
    display: inline-block;
    position: relative;
    border: none;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    background-color: #0ea5e9;
    color: white;
    border-radius: 30px;
}

#big-icon {
    max-width: 80px;
    max-height: 80px;
    min-width: 35px;
    min-height: 35px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(600px, 4fr);
    grid-template-rows: minmax(100px, 1fr) minmax(500px, 5fr);
}

.sidebar {
    grid-row: 1 / -1;
    background-color: #06b6d4;
    display: grid;
    grid: 100px 1fr 1fr / 1fr 3fr;  /*Shorthand gird-rows / grid-columns*/
}

.sidebar-head {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.options {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;
    max-height: 480px;
    padding-top: 20px;
}
 .sidebar-container {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
 }

 #sidebar-head-id {
    height: 100px;
 }

 .icon-text {
    display: flex;
    justify-self: start;
    align-self: center;
 }
.settings {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: grid;
    max-height: 240px;
    /* TODO: settings resize different on smaller screens then options */
}

.header {
    display: grid;
    grid-template-rows: 4.5fr 5.5fr; /* To line up with sidebar content on top" */
}

input[type="search"] {
    background-color: #e5e7eb;
    border: none;
    border-radius: 30px;
    min-height: 40px;
    width: 700px;
    font-size: 30px;
}
@media (max-width: 1400px) {
    input[type="search"] {
        font-size: 18px;
        width: 400px;
    }
  }
  @media (max-width: 768px) {
    input[type="search"] {
        font-size: 12px;
        width: 200px;
    }
  }

.header-top,
.header-bottom,
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icons {
    min-height: 20px;
    min-width: 20px;
    max-width: 40px;
    max-height: 40px;
}

.main-content {
    display: grid;
    grid: 1fr 4fr 1fr 4fr 1fr / 7fr 3fr;
}

.left-content {
    grid-row: 2 / 5;
}




.placeholder1 {
    max-height: 100px;
    max-width: 100px;
}
.placeholder2 {
    max-height: 140px;
    max-width: 140px;
}