body {
    padding: 0;
    margin: 0;
    height: 100%;
}

img {
    max-width: 50px;
    max-height: 50px;
}

#big-icon {
    max-width: 70px;
    max-height: 70px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(600px, 4fr);
    grid-template-rows: minmax(100px, 1fr) minmax(500px, 5fr);
}

.sidebar {
    grid-row: 1 / -1;
    background-color: #06b6d4;
    display: grid;
    grid: 100px 1fr 1fr / 1fr 3fr;  /*Shorthand gird-rows / grid-columns*/
}

.options {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;
}
 .sidebar-container {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
 }

 .icon-text {
    display: flex;
    justify-self: start;
    align-self: center;
 }
.settings {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: grid;
}

.header {
    display: grid;
    grid-template-rows: 4.5fr 5.5fr; /* To line up with sidebar content on top" */
}

.header-top,
.header-bottom,
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    display: grid;
    grid: 1fr 4fr 1fr 4fr 1fr / 7fr 3fr;
}

.left-content {
    grid-row: 2 / 5;
}

.item {
    background-color: orange;
    border: 1px solid black;
    text-align: center;
}